<div>
  <div>
    <h1>
      List of all favorites
    </h1>
  </div>
</div>


<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Original
        </th>

        <th>
          Alternative
        </th>
        <th>
          Show details
        </th>

      </tr>

      <% @list_of_favorites.each do |a_favorite| %>
      <tr>
        <td>
         <%= a_favorite.alternative.original_ingredient.original %>
        </td>

        <td>
          <%= a_favorite.alternative.alternative_ingredient.original %>
        </td>

        <td>
          <a href="/alternatives/<%= a_favorite.alternative_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
