
  <h3 class = "offset-md-1 py-6">
    Edit User Account
  </h3>

    <form action="/modify_user" method="post" class = "col-md-4 offset-md-1">
      <div class="form-group">
        <label for="email_box">Email</label>
        <input class="form-control" id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div class="form-group">
        <label for="username_box">Username</label>
        <input class="form-control" id="username_box" name="query_username" value="<%= @current_user.username %>">
      </div>

      <div class="form-group">
        <label for="password_box">Password</label>
        <input class="form-control" id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div class="form-group">
        <label for="password_confirmation_box">Password Confirmation</label>
        <input class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button class="btn btn-success">
        Update account
      </button>
    </form>

<hr>
<div class = "py-10 offset-md-3"><a href = "/cancel_user_account">Delete account</a></div>