<h2 class = "offset-md-1 py-6">Sign up</h2>

<form action="/insert_user" method="post" class = "col-md-4 offset-md-1">

  <div class="form-group">
    <label for="email_box">Email</label>
    <input class="form-control" id="email_box" name="query_email" placeholder="Enter email" type="text">
  </div>
                 
  <div class="form-group">
    <label for="username_box">Username</label>
      
    <input class="form-control" type="text" id="username_box" name="query_username" placeholder = "Enter a username">
  </div>
    
  <div class="form-group">
    <label for="password_box">Password</label>
    <input class="form-control" id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div class="form-group">
    <label for="password_confirmation_box">Password Confirmation</label>
    <input class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button class="btn btn-success">
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
