<h2 class = "offset-md-1 py-6">Sign in</h2>

<form action="/user_verify_credentials" method="post" class = "col-md-4 offset-md-1">
  <div class="form-group">
    <label for="email_box">Email</label>
    <input class="form-control" id="email_box" name="query_email" placeholder="Enter email" type="text">
  </div>

  <div class="form-group">
    <label for="password_box">Password</label>
    <input class="form-control" id="password_box" name="query_password" placeholder="Enter your password..." type="password">
  </div>

  <button class="btn btn-danger">
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>